absl-py==0.7.1
adafruit-circuitpython-gps==3.3.0
appdirs==1.4.3
args==0.1.0
asn1crypto==0.24.0
astor==0.8.0
astroid==2.1.0
asttokens==1.1.13
automationhat==0.1.0
backports.csv==1.0.7
base58==1.0.3
beautifulsoup4==4.7.1
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
Cap1xxx==0.1.3
certifi==2018.8.24
chardet==3.0.4
Click==7.0
clint==0.5.1
coco==0.4.0
colorama==0.3.7
colorzero==1.1
colour==0.1.5
cookies==2.2.1
crontab==0.22.6
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.13
decorator==4.3.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.14
drumhat==0.1.0
ecdsa==0.13.2
entrypoints==0.3
envirophat==1.0.0
et-xmlfile==1.0.1
ExplorerHAT==0.4.2
fetchai-ledger-api==0.5.1
Flask==1.0.2
fourletterphat==0.1.0
gast==0.2.2
google-pasta==0.1.7
gpiozero==1.5.1
gps==3.19
grpcio==1.22.0
guizero==0.6.0
h5py==2.9.0
html5lib==1.0.1
idna==2.6
imageio==2.5.0
imgaug==0.2.9
ipykernel==4.9.0
ipython==5.8.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.4.1
jedi==0.13.2
Jinja2==2.10
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
logilab-common==1.4.2
lxml==4.3.2
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
microdotphat==0.2.1
mote==0.0.4
motephat==0.0.2
msgpack==0.6.1
mypy==0.670
mypy-extensions==0.4.1
nudatus==0.0.4
numpy==1.16.2
oauthlib==2.1.0
odfpy==1.4.0
oef==0.4.0
olefile==0.46
openpyxl==2.6.2
pantilthat==0.0.7
parso==0.3.1
pexpect==4.6.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
pickleshare==0.7.5
picraft==1.0
piglow==1.2.4
pigpio==1.42
Pillow==6.1.0
pkg-resources==0.0.0
prompt-toolkit==1.0.15
protobuf==3.9.0
psutil==5.5.1
pycairo==1.16.2
pycocotools==2.0.0
pycodestyle==2.4.0
pycrypto==2.6.1
pyflakes==2.0.0
pygame==1.9.4.post1
Pygments==2.3.1
PyGObject==3.30.4
pyinotify==0.9.6
PyJWT==1.7.0
pylint==2.2.2
pyOpenSSL==19.0.0
pyparsing==2.2.0
pyperclip==1.6.4
pyserial==3.4
python-apt==1.8.4
python-crontab==2.3.8
python-dateutil==2.7.3
pywt==1.0.6
pyxdg==0.25
PyYAML==5.1.2
pyzmq==17.1.2
qtconsole==4.3.1
rainbowhat==0.1.0
requests==2.21.0
requests-oauthlib==1.0.0
responses==0.9.0
roman==2.0.0
RPi.GPIO==0.7.0
RTIMULib==7.2.1
scikit-image==0.15.0
scipy==1.1.0
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
semver==2.0.1
sense-emu==1.1
sense-hat==2.2.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
skywriter==0.0.7
sn3218==1.2.7
soupsieve==1.8
spidev==3.3
ssh-import-id==5.7
tablib==0.13.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.14.0
termcolor==1.1.0
thonny==3.1.0
thonny-pi==1.1
tornado==5.1.1
touchphat==0.0.1
traitlets==4.3.2
twython==3.7.0
typed-ast==1.3.1
uflash==1.2.4
unicornhathd==0.0.4
urllib3==1.24.1
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
